.wrapper {
    justify-content: center;
    display: inline-flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 700;
    min-width: 100px;
    padding: 9px 16px;
    border-radius: 4px;
    background-color: var(--white);
    border: 1px solid transparent;
    user-select: none;
    + .wrapper {
        margin-left: 16px;
    }
    &.disabled {
        pointer-events: none;
    }
}

.primary {
    background-color: var(--primary);
    color: var(--white);
    &:hover {
        cursor: pointer;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), rgb(254, 44, 85);
    }
}

.outline {
    background-color: rgba(255, 255, 255, 0.08);;
    color: var(--primary);
    border-color: currentColor;
    font-weight: 400;
    &:hover {
        cursor: pointer;
        background-color: rgba(254, 44, 85, 0.06);
    }
}

.large {
    min-width: 168px;
    min-height: 48px;
    font-size: 18px;
    line-height: 25px;
}

.icon + .title, .title + .icon {
    margin-left: 8px;
}

.upload {
    min-width: 110px;
    padding: 0px 16px;
    height: 36px;
    border: 1px solid rgba(22, 24, 35, 0.12);
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.08);
    color: var(--white);
    font-weight: 600;
    &:hover {
        background-color: rgba(255, 255, 255, 0.04);
        cursor: pointer;
    }
}