.wrapper {
    width: 100%;
    background: rgb(37, 37, 37);
    border-radius: 8px;
    max-height: min(-156px + 100vh, 760px);
    min-height: 100px;
    padding-top: 8px;
    color: rgba(255, 255, 255, 0.9);;
}